*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right,rgba(255, 0, 0, 0.548),darkblue);
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.row{
    display: grid;
  grid-template-columns:repeat(4,70px) ;
  grid-gap: 5px;
  padding: 10px;
  background-color: #2195f373;
  /* padding: 10px; */
  
}

.button{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.199);
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 50px;
  
}

.button:hover{
    color: aqua;

    background-color: black;
}

.input input{
    width: 100%;
    height:50px;
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
}